* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: ivory;
  color: saddlebrown;
  padding: 0.5em;
  font-family: "JetBrains Mono", monospace;
}
.App {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  text-align: center;
}
.content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
.footer {
  text-align: center;
  padding: 0.5rem;
}
